*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  background:#f4f4f4;
}

header{
  background:#111827;
  color:white;
  padding:15px 30px;

  display:flex;
  justify-content:space-between;
  align-items:center;
  flex-wrap:wrap;
}

nav button{
  margin:5px;
  padding:10px 16px;
  border:none;
  cursor:pointer;
  border-radius:6px;
}

.hero{
  text-align:center;
  padding:80px 20px;
}

.hero h2{
  font-size:40px;
  margin-bottom:15px;
}

.search-box{
  text-align:center;
  margin:20px;
}

.search-box input{
  padding:12px;
  width:300px;
  max-width:90%;
}

.products-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
  padding:20px;
}

.card{
  background:white;
  border-radius:10px;
  overflow:hidden;
  box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

.card img{
  width:100%;
  height:220px;
  object-fit:cover;
}

.card-content{
  padding:15px;
}

.card h3{
  margin-bottom:10px;
}

.card p{
  margin-bottom:10px;
}

.card button{
  width:100%;
  padding:10px;
  border:none;
  background:#111827;
  color:white;
  cursor:pointer;
}

.page{
  display:none;
}

.active{
  display:block;
}

.cart-item{
  background:white;
  margin:10px;
  padding:15px;
  border-radius:8px;
}

#total-price{
  margin:20px;
}

@media(max-width:600px){

  header{
    flex-direction:column;
  }

  .hero h2{
    font-size:28px;
  }

}